{% load static %}
<!--==================footer=======================-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <style>
                .fig {
                text-align: center; /* Выравнивание по центру */ 
                }
            </style>
            <h1>
                <p class="fig"><img src="{% static '/images/number_2.png' %}" width="1000" height="300" alt="number"></a></p>
            </h1>
            <div class="grid_12">
                <div class="border1"></div>
                <div class="copy">
                    <a class="link6" href="/">Animal feeds Ulan-Ude.</a>
                    <span>&nbsp;&copy;&nbsp;</span>
                    <span id="copyright-year"></span>&nbsp;
                </div>
            </div>
        </div>
    </div>
</footer>