    {% extends 'base_page.html' %}
    {% load static %}


    {% block title %}
        Feeds
    {% endblock title %}


{% block container %}

<!--=======content================================-->

<div id="content">
<div class="p36">
    <div class="container">
        <div class="row">
            <div class="grid_8">
                <h2>В продаже:</h2>
                <section class="section">
                    <div class="image1"><img src="{% static '/images/cow_feed_1.jpg' %}" width="400" height="250" alt=""></div>
                    <a href="#" class="link2">Корм &nbsp;для КРС</a>
                    <p>Стоимость и количество в наличии уточняйте по телефону</p>
                    <a href="#down" class="link">number</a>
                </section>
                <section class="section">
                    <div class="image1"><img src="{% static '/images/pig_feed_1.png' %}" width="400" height="250" alt=""></div>
                    <a href="#" class="link2">Корм &nbsp;для свиней</a>
                    <p>Стоимость и количество в наличии уточняйте по телефону</p><br>
                    <p></p>
                    <a href="#down" class="link">number</a>
                </section>
                <section class="section">
                    <div class="image1"><img src="{% static '/images/horse_feed.jpg' %}" width="400" height="250" alt=""></div>
                    <a href="#" class="link2">Корм &nbsp;для лошадей</a>
                    <p>Стоимость и количество в наличии уточняйте по телефону</p><br>
                    <p></p>
                    <a href="#down" class="link">number</a>
                </section>
                <section class="section">
                    <<div class="image1"><img src="{% static '/images/dog_feed.jpg' %}" width="400" height="250" alt=""></div>
                    <a href="#" class="link2">Корм &nbsp;для других животных</a>
                    <p>Стоимость и количество в наличии уточняйте по телефону</p><br>
                    <p></p>
                    <a href="#down" class="link">number</a>
                </section>           
            </div>
            <div class="grid_4">
                <h2>Навигация</h2>
                <ul class="list p16">
                    <li><a href="#"><i class="fa fa-circle"></i>Корм для КРС</a></li>
                    <li><a href="#"><i class="fa fa-circle"></i>Корм для свиней</a></li>
                    <li><a href="#"><i class="fa fa-circle"></i>Корм для лошадей</a></li>
                    <li><a href="#"><i class="fa fa-circle"></i>Корм для других животных</a></li>
                </ul>   
                <div class="p50">
                </div>     
            </div>  
        </div>
    </div>
</div>            
</div>

{% endblock container %}